<footer>
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-5 col-md-12 p-r-5">
                    <p><img src="coint_img/logo.png" width="150" height="36" alt=""></p>
                    <p>NONITOUR DESCRIPTION</p>
                </div>
                <div class="col-lg-3 col-md-6 ml-lg-auto">
                    <h5>Useful links</h5>
                    <ul class="links">
                        <li><a href="#">About ready go trip</a></li>
                        <li><a href="#">Activity</a></li>
                        <li><a href="#">Tour Contents</a></li>
                        <li><a href="#">Tour Package</a></li>
                        <li><a href="#">Customer Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5>Contact with Us</h5>
                    <ul class="contacts">
                        <li><a href="tel://61280932400"><i class="ti-mobile"></i> + 82 02 9999 9999</a></li>
                        <li><a href="mailto:info@Panagea.com"><i class="ti-email"></i> info@noni.com</a></li>
                    </ul>
                    
                </div>
            </div>
            <!--/row-->
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <ul id="additional_links">
                        <li><a href="#0">Terms and conditions</a></li>
                        <li><a href="#0">Privacy</a></li>
                        <li><a href="#0">Third Party Consent</a></li>
                        <li><span>© 2015 Noni tour</span></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="additional_links">
                        <li><a href="#0">1:1 Question</a></li>
                        <li><a href="#0">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/footer-->
    </div>
    <!-- page -->

    <div id="toTop"></div><!-- Back to top button -->   
    <!-- COMMON SCRIPTS -->
    <script src="js/common_scripts.js"></script>
    <script src="js/main.js"></script>
    <script src="assets/validate.js"></script>
    
    <!-- DATEPICKER  -->
    
    
</body>
</html>