@@include('./include/header.html')
<main>
    <section class="hero_in tours">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Activity Contents</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->
    <!-- <div class="filters_listing sticky_horizontal">
			<div class="container">
				<ul class="clearfix">
					<li>
						<div class="switch-field">
							<input type="radio" id="all" name="listing_filter" value="all" checked data-filter="*" class="selected">
							<label for="all">All</label>
							<input type="radio" id="popular" name="listing_filter" value="popular" data-filter=".popular">
							<label for="popular">Popular</label>
							<input type="radio" id="latest" name="listing_filter" value="latest" data-filter=".latest">
							<label for="latest">Latest</label>
						</div>
					</li>
					<li>
						<div class="layout_view">
							<a href="#0" class="active"><i class="icon-th"></i></a>
							<a href="tours-list-isotope.html"><i class="icon-th-list"></i></a>
						</div>
					</li>
					<li>
						<a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
					</li>
				</ul>
			</div>
			
		</div>
		
		
		<div class="collapse" id="collapseMap">
			<div id="map" class="map"></div>
		</div> -->
    <!-- End Map -->
    <div class="container margin_60_35">
        <div class="col-lg-12">
            <div class="row no-gutters custom-search-input-2 inner">
                <div class="col-lg-6">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="What are you looking for...">
                        <i class="icon_search"></i>
                    </div>
                </div>
                <!-- <div class="col-lg-3">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Where">
							<i class="icon_pin_alt"></i>
						</div>
					</div> -->
                <div class="col-lg-4">
                    <select class="wide">
                        <option>All Categories</option>
                        <option>Churches</option>
                        <option>Historic</option>
                        <option>Museums</option>
                        <option>Walking tours</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <input type="submit" class="btn_search" value="Search">
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /custom-search-input-2 -->
        <div class="isotope-wrapper">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 isotope-item latest">
                    <div class="box_grid">
                        <figure>
                            <a href="ActivityContents-Detail.html"><img src="img/tour_6.jpg" class="img-fluid" alt="" width="800" height="533">
                                <div class="read_more"><span>Read more</span></div>
                            </a>
                            <small>Golf</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="ActivityContents-Detail.html">Alpine Golf & Sport Club</a></h3>
                            <p>The golf course Tiger Woods won at the Johnny Walker Classic.</p>
                            <span class="price">From <strong>$95</strong> /per person</span>
                        </div>
                        <!-- <ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score"><span>Good<em>350 Reviews</em></span><strong>7.8</strong></div></li>
						</ul> -->
                    </div>
                </div>
                <!-- /box_grid -->
                <div class="col-xl-4 col-lg-6 col-md-6 isotope-item latest">
                    <div class="box_grid">
                        <figure>
                            <a href="ActivityContents-Detail.html"><img src="img/tour_6.jpg" class="img-fluid" alt="" width="800" height="533">
                                <div class="read_more"><span>Read more</span></div>
                            </a>
                            <small>Golf</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="ActivityContents-Detail.html">Alpine Golf & Sport Club</a></h3>
                            <p>The golf course Tiger Woods won at the Johnny Walker Classic.</p>
                            <span class="price">From <strong>$95</strong> /per person</span>
                        </div>
                        <!-- <ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score"><span>Good<em>350 Reviews</em></span><strong>7.8</strong></div></li>
						</ul> -->
                    </div>
                </div>
                <!-- /box_grid -->
                <div class="col-xl-4 col-lg-6 col-md-6 isotope-item latest">
                    <div class="box_grid">
                        <figure>
                            <a href="ActivityContents-Detail.html"><img src="img/tour_6.jpg" class="img-fluid" alt="" width="800" height="533">
                                <div class="read_more"><span>Read more</span></div>
                            </a>
                            <small>Golf</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="ActivityContents-Detail.html">Alpine Golf & Sport Club</a></h3>
                            <p>The golf course Tiger Woods won at the Johnny Walker Classic.</p>
                            <span class="price">From <strong>$95</strong> /per person</span>
                        </div>
                        <!-- <ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score"><span>Good<em>350 Reviews</em></span><strong>7.8</strong></div></li>
						</ul> -->
                    </div>
                </div>
                <!-- /box_grid -->
                <div class="col-xl-4 col-lg-6 col-md-6 isotope-item latest">
                    <div class="box_grid">
                        <figure>
                            <a href="ActivityContents-Detail.html"><img src="img/tour_6.jpg" class="img-fluid" alt="" width="800" height="533">
                                <div class="read_more"><span>Read more</span></div>
                            </a>
                            <small>Golf</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="ActivityContents-Detail.html">Alpine Golf & Sport Club</a></h3>
                            <p>The golf course Tiger Woods won at the Johnny Walker Classic.</p>
                            <span class="price">From <strong>$95</strong> /per person</span>
                        </div>
                        <!-- <ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score"><span>Good<em>350 Reviews</em></span><strong>7.8</strong></div></li>
						</ul> -->
                    </div>
                </div>
                <!-- /box_grid -->
                <div class="col-xl-4 col-lg-6 col-md-6 isotope-item latest">
                    <div class="box_grid">
                        <figure>
                            <a href="ActivityContents-Detail.html"><img src="img/tour_6.jpg" class="img-fluid" alt="" width="800" height="533">
                                <div class="read_more"><span>Read more</span></div>
                            </a>
                            <small>Golf</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="ActivityContents-Detail.html">Alpine Golf & Sport Club</a></h3>
                            <p>The golf course Tiger Woods won at the Johnny Walker Classic.</p>
                            <span class="price">From <strong>$95</strong> /per person</span>
                        </div>
                        <!-- <ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score"><span>Good<em>350 Reviews</em></span><strong>7.8</strong></div></li>
						</ul> -->
                    </div>
                </div>
                <!-- /box_grid -->
                <div class="col-xl-4 col-lg-6 col-md-6 isotope-item latest">
                    <div class="box_grid">
                        <figure>
                            <a href="ActivityContents-Detail.html"><img src="img/tour_6.jpg" class="img-fluid" alt="" width="800" height="533">
                                <div class="read_more"><span>Read more</span></div>
                            </a>
                            <small>Golf</small>
                        </figure>
                        <div class="wrapper">
                            <h3><a href="ActivityContents-Detail.html">Alpine Golf & Sport Club</a></h3>
                            <p>The golf course Tiger Woods won at the Johnny Walker Classic.</p>
                            <span class="price">From <strong>$95</strong> /per person</span>
                        </div>
                        <!-- <ul>
							<li><i class="icon_clock_alt"></i> 1h 30min</li>
							<li><div class="score"><span>Good<em>350 Reviews</em></span><strong>7.8</strong></div></li>
						</ul> -->
                    </div>
                </div>
                <!-- /box_grid -->
            </div>
            <!-- /row -->
        </div>
        <!-- /isotope-wrapper -->
        <p class="text-center"><a href="#0" class="btn_1 rounded add_top_30">Load more</a></p>
    </div>
    <!-- /container -->
</main>
<!--/main-->
<footer>
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-5 col-md-12 p-r-5">
                <p><img src="coint_img/logo.png" width="150" height="36" alt=""></p>
                <p>NONITOUR DESCRIPTION</p>
            </div>
            <div class="col-lg-3 col-md-6 ml-lg-auto">
                <h5>Useful links</h5>
                <ul class="links">
                    <li><a href="#">About ready go trip</a></li>
                    <li><a href="#">Activity</a></li>
                    <li><a href="#">Tour Contents</a></li>
                    <li><a href="#">Tour Package</a></li>
                    <li><a href="#">Customer Service</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Contact with Us</h5>
                <ul class="contacts">
                    <li><a href="tel://61280932400"><i class="ti-mobile"></i> + 82 02 9999 9999</a></li>
                    <li><a href="mailto:info@Panagea.com"><i class="ti-email"></i> info@noni.com</a></li>
                </ul>
            </div>
        </div>
        <!--/row-->
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <ul id="additional_links">
                    <li><a href="#0">Terms and conditions</a></li>
                    <li><a href="#0">Privacy</a></li>
                    <li><a href="#0">Third Party Consent</a></li>
                    <li><span>© 2015 Noni tour</span></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="additional_links">
                    <li><a href="#0">1:1 Question</a></li>
                    <li><a href="#0">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->
</div>
<!-- page -->
<div id="toTop"></div><!-- Back to top button -->
<!-- COMMON SCRIPTS -->
<script src="js/common_scripts.js"></script>
<script src="js/main.js"></script>
<script src="assets/validate.js"></script>
<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/markerclusterer.js"></script>
<script src="js/map_tours.js"></script>
<script src="js/infobox.js"></script>
<!-- Masonry Filtering -->
<script src="js/isotope.min.js"></script>
<script>
$(window).on('load', function() {
    var $container = $('.isotope-wrapper');
    $container.isotope({ itemSelector: '.isotope-item', layoutMode: 'masonry' });
});

$('.filters_listing').on('click', 'input', 'change', function() {
    var selector = $(this).attr('data-filter');
    $('.isotope-wrapper').isotope({ filter: selector });
});
</script>
</body>

</html>