@@include('./include/header.html')
<main>
    <section class="hero_in tours_detail">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Alpine Golf & Sport Club</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->
    <div class="bg_color_1">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-12">
                    <section>
                        <h2>Summary</h2>
                        <p>
                            Tiger Woods won the 2000 Johnnie Walker Classic. The clubhouse has a large banquet hall and comfortable dining room, as well as fully equipped conference rooms and small meeting rooms.
                        </p>
                    </section>
                    <!-- /section -->
                    <section class="mb-5">
                        <h2>Description</h2>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="full-img"><img src="img/detail_gallery/detail_1.jpg" alt=""></div>
                            </div>
                            <div class="col-lg-9">
                                Similar to a typical survival gun game, it's a game where you hit your opponent with a gun.
                                The person who was shot cannot shoot for a while, so you can avoid it and shoot again after a certain period of time, so you can enjoy a thrilling shooting game.
                                The survival gun game is a laser game, and it is characterized by safe and enjoyable enjoyment with family and friends.
                            </div>
                        </div>
                    </section>
                    <section class="mb-5">
                        <h2>MEDIA</h2>
                        <div class="pictures_grid magnific-gallery clearfix">
                            <figure><a href="img/detail_gallery/detail_1.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/detail_gallery/detail_1.jpg" alt=""></a></figure>
                            <figure><a href="img/detail_gallery/detail_2.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/detail_gallery/detail_2.jpg" alt=""></a></figure>
                            <figure><a href="img/detail_gallery/detail_3.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/detail_gallery/detail_3.jpg" alt=""></a></figure>
                            <figure><a href="img/detail_gallery/detail_5.jpg" title="Photo title" data-effect="mfp-zoom-in"><span class="d-flex align-items-center justify-content-center">+99</span><img src="img/detail_gallery/detail_5.jpg" alt=""></a></figure>
                        </div>
                        <!-- /pictures -->
                    </section>
                    <section class="mb-5">
                        <h2>Contents info</h2>
                        <ul class="bullets clearfix">
                            <li><b>Region</b> – Thailand > Bangkok</li>
                            <li><b>Category</b> – Golf</li>
                            <li><b>Standard Price</b> From $120 / per person</li>
                        </ul>
                    </section>
                    <section class="mb-5">
                        <h2>Location</h2>
                        <div id="map" class="map map_single add_bottom_30"></div>
                        <p>99 Moo 9 , Bangkhan-Sathaneevithayu Road , Klong 5 , Klong Luang , Pathumthani 12120 , Thailand.</p>
                    </section>
                    <section class="mb-5">
                        <h2>NOTE</h2>
                        <ul class="bullets">
                            <li>This product is sold by Toto Booking Co., Ltd. and the actual operation is organized by Laser Game Bangkok. The responsibility for operating the product lies with Laser Game Bangkok.</li>
                            <li>Please pay special attention to loss of valuables and cash and personal safety accidents when participating in the tour. (Agreed after reading the consent form for safety rules before reservation)</li>
                            <li>We are not responsible for accidents caused by personal carelessness.</li>
                        </ul>
                    </section>
                    <section class="mb-5">
                        <h2>Introduce Creator</h2>
                        <ul class="bullets clearfix mb-3">
                            <li><b>Region</b> – Thailand > Bangkok</li>
                            <li><b>Category</b> – Golf</li>
                            <li><b>Standard Price</b> From $120 / per person</li>
                        </ul>
                        <div class="pictures_grid magnific-gallery clearfix">
                            <figure><a href="img/detail_gallery/detail_1.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/detail_gallery/detail_1.jpg" alt=""></a></figure>
                            <figure><a href="img/detail_gallery/detail_2.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/detail_gallery/detail_2.jpg" alt=""></a></figure>
                            <figure><a href="img/detail_gallery/detail_3.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/detail_gallery/detail_3.jpg" alt=""></a></figure>
                            <figure><a href="img/detail_gallery/detail_5.jpg" title="Photo title" data-effect="mfp-zoom-in"><span class="d-flex align-items-center justify-content-center">+99</span><img src="img/detail_gallery/detail_5.jpg" alt=""></a></figure>
                        </div>
                        <!-- /pictures -->
                    </section>
                    <section id="reviews">
                        <h2>Reviews</h2>
                        <div class="reviews-container">
                            <div class="review-box clearfix">
                                <div class="rev-content">
                                    <div class="rev-info">
                                        Michael Jordan(mj@bulls.com) – December 23, 2021:
                                    </div>
                                    <div class="rev-text">
                                        <p>
                                            Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /review-box -->
                        </div>
                        <!-- /review-container -->
                    </section>
                    <!-- /section -->
                    <hr>
                    <div class="add-review">
                        <h5>Leave a Review</h5>
                        <form>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Name and Lastname <em class="requried">*</em></label>
                                    <input type="text" name="name_review" id="name_review" placeholder="" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email  <em class="requried">*</em></label>
                                    <input type="email" name="email_review" id="email_review" class="form-control">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Your Review <em class="requried">*</em></label>
                                    <textarea name="review_text" id="review_text" class="form-control" style="height:130px;"></textarea>
                                </div>
                                <div class="form-group col-md-12 add_top_20">
                                    <input type="submit" value="Submit" class="btn_1" id="submit-review">
                                    <span class="color-red">* Please fill in the required fields</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
</main>
<!--/main-->
<footer>
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-5 col-md-12 p-r-5">
                <p><img src="coint_img/logo.png" width="150" height="36" alt=""></p>
                <p>NONITOUR DESCRIPTION</p>
            </div>
            <div class="col-lg-3 col-md-6 ml-lg-auto">
                <h5>Useful links</h5>
                <ul class="links">
                    <li><a href="#">About ready go trip</a></li>
                    <li><a href="#">Activity</a></li>
                    <li><a href="#">Tour Contents</a></li>
                    <li><a href="#">Tour Package</a></li>
                    <li><a href="#">Customer Service</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Contact with Us</h5>
                <ul class="contacts">
                    <li><a href="tel://61280932400"><i class="ti-mobile"></i> + 82 02 9999 9999</a></li>
                    <li><a href="mailto:info@Panagea.com"><i class="ti-email"></i> info@noni.com</a></li>
                </ul>
            </div>
        </div>
        <!--/row-->
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <ul id="additional_links">
                    <li><a href="#0">Terms and conditions</a></li>
                    <li><a href="#0">Privacy</a></li>
                    <li><a href="#0">Third Party Consent</a></li>
                    <li><span>© 2015 Noni tour</span></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="additional_links">
                    <li><a href="#0">1:1 Question</a></li>
                    <li><a href="#0">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->
</div>
<!-- page -->
<div id="toTop"></div><!-- Back to top button -->
<!-- COMMON SCRIPTS -->
<script src="js/common_scripts.js"></script>
<script src="js/main.js"></script>
<script src="assets/validate.js"></script>
<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/map_single_tour.js"></script>
<script src="js/infobox.js"></script>
<!-- DATEPICKER  -->
<script>
$(function() {
    $('input[name="dates"]').daterangepicker({
        autoUpdateInput: false,
        parentEl: '.scroll-fix',
        minDate: new Date(),
        opens: 'left',
        locale: {
            cancelLabel: 'Clear'
        }
    });
    $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
    });
    $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
});
</script>
<!-- INPUT QUANTITY  -->
<script src="js/input_qty.js"></script>
</body>

</html>