@@include('./include/header.html')

	<main>
	<section class="hero_in general">
		<div class="wrapper">
		<div class="container">
			<h1 class="fadeInUp"><span></span>Agreement to use the service</h1>
		</div>
		</div>
	</section>
	<!--/hero_in-->

	<div class="container margin_60_35">
		<div class="main_title_2">
			<span><em></em></span>
			<h2>Agreement to use the service</h2>
			
			<div>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
				Agreement to use the service Agreement to use the service Agreement to use the service <br>
			</div>

		</div>
	
	</div>
	<!-- /container -->		
	</main>
	<!--/main-->
	
@@include('./include/footer.html')