@@include('./include/header.html')
	<main>
		<section class="hero_in shot_detail start_bg_zoom"></section>

		<div id="reg-form" class="margin_60_35">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="box-title">
							Forgot Account?
						</div>
						<form action="">

							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" name="" id="" placeholder="enter your registered name">
							</div>

							<div class="form-group">
								<label>Phone Number</label>
								<input type="text" class="form-control" name="" id="" placeholder="enter your registered Phone Number">
							</div>

							<div class="feedback-error">Please enter the correct information.</div>

							<div class="feedback-error">Your registered email is [aaa@atravel.com]</div>
							<div class="feedback-error">No information was found. Please enter it correctly.</div>
							
							<div class="mt-5">
								<button type="submit" class="btn_1 full-width">Find Account</button>
							</div>
						</form>
					</div>
					<div class="col-md-6 col-sm-12 col-sm-mt-1 col-sm-mt-border-1">
						<div class="box-title">
							Forgot Password?
						</div>
						<form action="">

							<div class="form-group">
								<label>Email</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="enter your registered Email">
							</div>

							<div class="form-group">
								<label>Phone Number</label>
								<input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber" value="" placeholder="enter your registered Phone Number">
							</div>

							<div class="feedback-error">Please enter the correct information.</div>
							<div class="feedback-error">No information was found. Please enter it correctly.</div>
							
							<div class="mt-5">
								<button type="submit" class="btn_1 full-width">Change Password</button>
							</div>
						</form>
					</div>

					<div class="col-12 mt-5 text-center"><h5><a href="#"><u>Go to Login Page</u></a></h5></div>
				</div>
			</div>

		</div>
		<!-- // reg-form -->
	</main>
	
@@include('./include/footer.html')