@@include('./include/header.html')
	<main>
		<section class="hero_single version_2">
			<div class="wrapper">
				<div class="container visual_container">
					<h3>Alpine Golf & Sport Club</h3>
					<p>Explore local creator</p>
					<form>
						<div class="row no-gutters custom-search-input-2">
							<div class="col-lg-10">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="City, tour...">
									<i class="icon_pin_alt"></i>
								</div>
							</div>
						
							<div class="col-lg-2">
								<input type="submit" class="btn_search" value="Search">
							</div>
						</div>
						<!-- /row -->
					</form>
				</div>
				<div id="visual" class="owl-carousel owl-theme">
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
					<div class="item"></div>
				</div>
			</div>
		</section>
		<!-- /hero_single -->

		<div class="container container-custom margin_80_0">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Popular Travel Package</h2>
				<p><small>This is the most popular travel package</small></p>
			</div>
			<div id="reccomended" class="owl-carousel owl-theme">
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="tour-detail.html"><img src="coint_img/1-1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Familiy</small>
						</figure>
						<div class="wrapper">
							<h3><a href="tour-detail.html">Experience tour in Seoul</a></h3>
							<p>Thailand Family Travel Phuket Tourism Patong Super Express Millennium Superior Modu Basket</p>
							
							
						</div>
						<ul>
							<li><span class="price"><strong>From $70</strong>/per person</span></li>
							<li><i class="icon_clock_alt"></i> 3night 5day</li>
							<!-- <li><div class="score"><span>Superb<em>2 Reviews</em></span><strong>8.9</strong></div></li> -->
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="tour-detail.html"><img src="coint_img/1-1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Familiy</small>
						</figure>
						<div class="wrapper">
							<h3><a href="tour-detail.html">Experience tour in Seoul</a></h3>
							<p>Thailand Family Travel Phuket Tourism Patong Super Express Millennium Superior Modu Basket</p>
							
							
						</div>
						<ul>
							<li><span class="price"><strong>From $70</strong>/per person</span></li>
							<li><i class="icon_clock_alt"></i> 3night 5day</li>
							<!-- <li><div class="score"><span>Superb<em>2 Reviews</em></span><strong>8.9</strong></div></li> -->
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="tour-detail.html"><img src="coint_img/1-1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Familiy</small>
						</figure>
						<div class="wrapper">
							<h3><a href="tour-detail.html">Experience tour in Seoul</a></h3>
							<p>Thailand Family Travel Phuket Tourism Patong Super Express Millennium Superior Modu Basket</p>
							
							
						</div>
						<ul>
							<li><span class="price"><strong>From $70</strong>/per person</span></li>
							<li><i class="icon_clock_alt"></i> 3night 5day</li>
							<!-- <li><div class="score"><span>Superb<em>2 Reviews</em></span><strong>8.9</strong></div></li> -->
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="tour-detail.html"><img src="coint_img/1-1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Familiy</small>
						</figure>
						<div class="wrapper">
							<h3><a href="tour-detail.html">Experience tour in Seoul</a></h3>
							<p>Thailand Family Travel Phuket Tourism Patong Super Express Millennium Superior Modu Basket</p>
							
							
						</div>
						<ul>
							<li><span class="price"><strong>From $70</strong>/per person</span></li>
							<li><i class="icon_clock_alt"></i> 3night 5day</li>
							<!-- <li><div class="score"><span>Superb<em>2 Reviews</em></span><strong>8.9</strong></div></li> -->
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="tour-detail.html"><img src="coint_img/1-1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Familiy</small>
						</figure>
						<div class="wrapper">
							<h3><a href="tour-detail.html">Experience tour in Seoul</a></h3>
							<p>Thailand Family Travel Phuket Tourism Patong Super Express Millennium Superior Modu Basket</p>
							
							
						</div>
						<ul>
							<li><span class="price"><strong>From $70</strong>/per person</span></li>
							<li><i class="icon_clock_alt"></i> 3night 5day</li>
							<!-- <li><div class="score"><span>Superb<em>2 Reviews</em></span><strong>8.9</strong></div></li> -->
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="tour-detail.html"><img src="coint_img/1-1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Familiy</small>
						</figure>
						<div class="wrapper">
							<h3><a href="tour-detail.html">Experience tour in Seoul</a></h3>
							<p>Thailand Family Travel Phuket Tourism Patong Super Express Millennium Superior Modu Basket</p>
							
							
						</div>
						<ul>
							<li><span class="price"><strong>From $70</strong>/per person</span></li>
							<li><i class="icon_clock_alt"></i> 3night 5day</li>
							<!-- <li><div class="score"><span>Superb<em>2 Reviews</em></span><strong>8.9</strong></div></li> -->
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="tour-detail.html"><img src="coint_img/1-1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Familiy</small>
						</figure>
						<div class="wrapper">
							<h3><a href="tour-detail.html">Experience tour in Seoul</a></h3>
							<p>Thailand Family Travel Phuket Tourism Patong Super Express Millennium Superior Modu Basket</p>
							
							
						</div>
						<ul>
							<li><span class="price"><strong>From $70</strong>/per person</span></li>
							<li><i class="icon_clock_alt"></i> 3night 5day</li>
							<!-- <li><div class="score"><span>Superb<em>2 Reviews</em></span><strong>8.9</strong></div></li> -->
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="box_grid">
						<figure>
							<a href="tour-detail.html"><img src="coint_img/1-1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
							<small>Familiy</small>
						</figure>
						<div class="wrapper">
							<h3><a href="tour-detail.html">Experience tour in Seoul</a></h3>
							<p>Thailand Family Travel Phuket Tourism Patong Super Express Millennium Superior Modu Basket</p>
							
							
						</div>
						<ul>
							<li><span class="price"><strong>From $70</strong>/per person</span></li>
							<li><i class="icon_clock_alt"></i> 3night 5day</li>
							<!-- <li><div class="score"><span>Superb<em>2 Reviews</em></span><strong>8.9</strong></div></li> -->
						</ul>
					</div>
				</div>
			</div>
			<!-- /carousel -->
			<p class="btn_home_align"><a href="tours-grid-isotope.html" class="btn_1 rounded">View all Trips</a></p>
			<hr class="large">
		</div>
		<!-- /container -->
		
		<div class="container container-custom margin_30_95">
			<section class="add_bottom_45">
				<div class="main_title_3">
					<span><em></em></span>
					<h2>Popular Activity Contents</h2>					
				</div>
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>25</strong></div>
								<img src="coint_img/2-1.jpg" class="img-fluid" alt="">								
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>55</strong></div>
								<img src="coint_img/2-2.jpg" class="img-fluid" alt="">
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>55</strong></div>
								<img src="coint_img/2-3.jpg" class="img-fluid" alt="">
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="hotel-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>45</strong></div>
								<img src="coint_img/2-4.jpg" class="img-fluid" alt="">								
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
				</div>
				<!-- /row -->
				<a href="hotels-grid-isotope.html"><strong>View all (999) <i class="arrow_carrot-right"></i></strong></a>
			</section>
			<!-- /section -->
			
			<section class="add_bottom_45">
				<div class="main_title_3">
					<span><em></em></span>
					<h2>Tour Contents</h2>
				</div>
				<div class="row">
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="restaurant-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>99</strong></div>
								<img src="coint_img/3-1.jpg" class="img-fluid" alt="">
								<div class="info">
									<h3>KOREA > SEOUL</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="restaurant-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>99</strong></div>
								<img src="coint_img/3-2.jpg" class="img-fluid" alt="">
								<div class="info">
									<h3>KOREA > Gangwon</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="restaurant-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>99</strong></div>
								<img src="coint_img/3-3.jpg" class="img-fluid" alt="">
								<div class="info">
									<h3>KOREA > Chungcheong-do</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
					<div class="col-xl-3 col-lg-6 col-md-6">
						<a href="restaurant-detail.html" class="grid_item">
							<figure>
								<div class="score"><strong>99</strong></div>
								<img src="coint_img/3-4.jpg" class="img-fluid" alt="">
								<div class="info">
									<h3>KOREA > Jeju-do</h3>
								</div>
							</figure>
						</a>
					</div>
					<!-- /grid_item -->
				</div>
				<!-- /row -->
				<a href="restaurants-grid-isotope.html"><strong>View all (999) <i class="arrow_carrot-right"></i></strong></a>
			</section>
			<!-- /section -->
			


		</div>
		<!-- /container -->

		<div class="bg_color_1">
			<div class="container margin_80_55">
				<div class="main_title_2">
					<span><em></em></span>
					<h3>New proposals</h3>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<a class="box_news" href="#0">
							<figure><img src="coint_img/4-1.jpg" alt="">
								<figcaption>2021<br>0401</figcaption>
							</figure>
							<ul>
								<li>No. 20220401_proposals_89</li>
							</ul>
							<h9>region: KOR > SEOUL</h9>
							<p>booker : Thai Travel<br> Seller : Tour world </p>
						</a>
					</div>
					<!-- /box_news -->
					<div class="col-lg-6">
						<a class="box_news" href="#0">
							<figure><img src="coint_img/4-2.jpg" alt="">
								<figcaption> 2022.<br>04.05</figcaption>
							</figure>
							<ul>
								<li>No. 20220405_proposals_12</li>								
							</ul>
							<h9>region : KOR > Gangwon-do</h9>
							<p>booker : Viet Tout<br> Seller : HK tour </p>
						</a>
					</div>
					<!-- /box_news -->
					<div class="col-lg-6">
						<a class="box_news" href="#0">
							<figure><img src="coint_img/4-3.jpg" alt="">
								<figcaption>2022.<br>03.02</figcaption>
							</figure>
							<ul>
								<li>No. 20220302_proposals_49</li>
							</ul>
							<h9>region : KOR > Busan</h9>
							<p>booker : Yonex tour<br> Seller : Seko travel </p>
						</a>
					</div>
					<!-- /box_news -->
					<div class="col-lg-6">
						<a class="box_news" href="#0">
							<figure><img src="coint_img/4-4.jpg" alt="">
								<figcaption>2022.<br>04.09</figcaption>
							</figure>
							<ul>
								<li>No. 20220409_proposals_09</li>
							</ul>
							<h9>region : KOR > Jeollanam-do</h9>
							<p>booker : TPS<br> Seller : Hello world tour </p>
						</a>
					</div>
					<!-- /box_news -->
				</div>
				<!-- /row -->
				<p class="btn_home_align"><a href="blog.html" class="btn_1 rounded">View all proposal</a></p>
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->

		<div class="call_section">
			<div class="container clearfix">
				<div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
					<div class="block-reveal">
						<div class="block-vertical"></div>
						<div class="box_1">
							<h3>Enjoy a GREAT travel with us</h3>
							<p>Description / Description<br>Description / Description</p>
							<div class="ov-h">
								<div class="float-left"><a href="#0" class="btn_1 rounded">Read more</a></div>
								<div class="float-right"><a href="#0" class="btn_1 rounded">Trip info</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/call_section-->
	</main>
	<!-- /main -->
	<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">
					<p><img src="coint_img/logo.png" width="150" height="36" alt=""></p>
					<p>NONITOUR DESCRIPTION</p>
				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">
					<h5>Useful links</h5>
					<ul class="links">
						<li><a href="#">About ready go trip</a></li>
						<li><a href="#">Activity</a></li>
						<li><a href="#">Tour Contents</a></li>
						<li><a href="#">Tour Package</a></li>
						<li><a href="#">Customer Service</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Contact with Us</h5>
					<ul class="contacts">
						<li><a href="tel://61280932400"><i class="ti-mobile"></i> + 82 02 9999 9999</a></li>
						<li><a href="mailto:info@Panagea.com"><i class="ti-email"></i> info@noni.com</a></li>
					</ul>
					
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-lg-6">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
						<li><a href="#0">Third Party Consent</a></li>
						<li><span>© 2015 Noni tour</span></li>
					</ul>
				</div>
				<div class="col-lg-6">
					<ul class="additional_links">
						<li><a href="#0">1:1 Question</a></li>
						<li><a href="#0">FAQ</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->
	</div>
	<!-- page -->

	<div id="toTop"></div><!-- Back to top button -->	
	<!-- COMMON SCRIPTS -->
    <script src="js/common_scripts.js"></script>
    <script src="js/main.js"></script>
	<script src="assets/validate.js"></script>
	
	<!-- DATEPICKER  -->
	<script>
	$(function() {

		$('#visual').owlCarousel({
			center: true,
			items: 1,
			loop: true,
			margin: 0,
			dots: true
		});

	  'use strict';
	  $('input[name="dates"]').daterangepicker({
		  autoUpdateInput: false,
		  minDate:new Date(),
		  locale: {
			  cancelLabel: 'Clear'
		  }
	  });
	  $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
		  $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
	  });
	  $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
		  $(this).val('');
	  });
	});
	</script>
	
	<!-- INPUT QUANTITY  -->
	<script src="js/input_qty.js"></script>
	
</body>
</html>