@@include('./include/header.html')
	<div id="login_bg">
		<div id="login">
			<aside>
				<figure>
					<a href="index.html"><img src="coint_img/logo_1.png" width="155" height="36" alt="" class="logo_sticky"></a>
				</figure>
				  <form>
					<!-- <div class="access_social">
						<a href="#0" class="social_bt facebook">Login with Facebook</a>
						<a href="#0" class="social_bt google">Login with Google</a>
						<a href="#0" class="social_bt linkedin">Login with Linkedin</a>
					</div> 
					<div class="divider"><span>Or</span></div>
					-->
					
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" name="email" id="email">
						<i class="icon_mail_alt"></i>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password" id="password" value="">
						<i class="icon_lock_alt"></i>
					</div>
					<div class="clearfix add_bottom_30">
						<div class="password">
							<span class="color-red">* Please enter your email and password correctly.</span>
						</div>
						<div class="mt-1"><a id="#" href="#" class="btn btn-block">Forgot Account?</a></div>
					</div>
					<a href="#0" class="btn_1 rounded full-width">Log In</a>
					<div class="text-center add_top_10">Don’t have an account?  <strong><a href="register.html">Sign up!</a></strong></div>
				</form>
				<!-- <div class="copy">© 2018 Panagea</div> -->
			</aside>
		</div>
		<!-- /login -->
			
		<!-- COMMON SCRIPTS -->
	    <script src="js/common_scripts.js"></script>
	    <script src="js/main.js"></script>
		<script src="assets/validate.js"></script>	
	</div>
</body>
</html>