@@include('./include/header.html')
	
	<main>
		<section class="hero_in general start_bg_zoom">
			<div class="wrapper">
			<div class="container">
				<h1 class="fadeInUp animated"><span></span>Ready go trip<br>Accept the terms and conditions</h1>
			</div>
			</div>
		</section>
		<!--/hero_in-->

		<div class="aree_container">
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-12">
						<div class="aree-title">
							<div class="float-l"><i class="fs1" aria-hidden="true" data-icon="N"></i> Terms and Conditions</div>
							<div class="float-r"><label>Aree <input type="checkbox"></label></div>
						</div>
						<textarea name="" id="" class="form-control" cols="30" rows="10" readonly></textarea>

						<div class="aree-title mt-5">
							<div class="float-l"><i class="fs1" aria-hidden="true" data-icon="N"></i> Privacy Policy</div>
							<div class="float-r"><label>Aree <input type="checkbox"></label></div>
						</div>
						<textarea name="" id="" class="form-control" cols="30" rows="10" readonly></textarea>

						<div class="aree-title mt-5">
							<div class="float-l"><i class="fs1" aria-hidden="true" data-icon="N"></i> Third Party Consent</div>
							<div class="float-r"><label>Aree <input type="checkbox"></label></div>
						</div>
						<textarea name="" id="" class="form-control" cols="30" rows="10" readonly></textarea>

						<p class="mt-3"><small>You have the right to refuse to consent to the above services, and if you do not agree, your membership registration will be restricted.</small></p>

						<div class="reg-btn">
							<div class="float-left col-sm-float-none">
								<label><input type="checkbox"> Agree all</label>
								<span class="color-red">*Agree to all terms and conditions</span>
							</div>
							<div class="float-right col-sm-float-none col-sm-pt20"><button type="button" class="btn_1 col-sm-full">Confirm</button></div>
						</div>
					</div>
					<!-- /col -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bg_color_1 -->
	</main>
	<!--/main-->
@@include('./include/footer.html')