@@include('./include/header.html')
	<style>
		footer{display: none;}
	</style>
	<main>
		<section class="hero_in shot_detail start_bg_zoom"></section>
		<div class="margin_60_35 container_small">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="box-title">
							Set the password
							<p class="text-center">Please enter a new password</p>
						</div>
						
						<form action="">

							<div class="form-group">
								<label>New Password</label>
								<input type="password" class="form-control" name="" id="">
							</div>

							<div class="form-group">
								<label>Confirm Password</label>
								<input type="text" class="form-control" name="" id="">
							</div>

							<div class="feedback-error">The password you entered is not the same</div>
							<div class="feedback-error">Please enter the correct information</div>
							
							<div class="mt-1"><small>Enter two combinations of uppercase, lowercase, numbers, and special characters, 10 or more characters</small></div>
							
							<div class="mt-5">
								<button type="submit" class="btn_1 full-width">Change Password</button>
							</div>
						</form>
					</div>
					
				</div>
			</div>

		</div>
		<!-- // reg-form -->
	</main>
	
@@include('./include/footer.html')