@@include('./include/header.html')
<main>
    <section class="hero_in general start_bg_zoom">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp animated"><span></span>Sign Up</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->
    <div class="sign_container">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-12">
                    <h5 class="text-center mb-4">Create Buyer Member Account <span class="color-red">*required</span></h5>
                    <form action="">
                        <div class="form-group">
                            <label>Email <em class="required">*</em></label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="" id="" placeholder="enter the text">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-sm btn-secondary">Check Email</button>
                                </div>
                            </div>
                            <div class="feedback-error">Please enter a valid email address.</div>
                        </div>
                        <div class="form-group">
                            <label>Name <em class="required">*</em></label>
                            <input type="text" class="form-control" name="" id="" placeholder="enter the text">
                            <div class="feedback-error">Name is a required field.</div>
                        </div>
                        <div class="form-group">
                            <label>Contact Phone Number <em class="required">*</em></label>
                            <input type="text" class="form-control" name="" id="" placeholder="number input">
                            <div class="feedback-error">Contact Phone Number is a required field.</div>
                        </div>
                        <div class="form-group">
                            <label>Password <em class="required">*</em></label>
                            <input type="password" class="form-control" name="" id="" placeholder="enter the text">
                            <div class="feedback-error">Password is a required field.</div>
                            <div class=""><small>Enter two combinations of uppercase, lowercase, numbers, and special characters, 10 or more characters.</small></div>
                        </div>
                        <div class="form-group">
                            <label>Re-enter Password <em class="required">*</em></label>
                            <input type="password" class="form-control" name="" id="" placeholder="enter the text">
                            <div class="feedback-error">Re-enter Password is a required field.</div>
                        </div>
                        <div class="form-group">
                            <label>Travel agency <em class="required">*</em></label>
                            <input type="text" class="form-control" name="" id="" placeholder="enter the text">
                            <div class="feedback-error">Travel agency is a required field.</div>
                        </div>
                        <div class="form-group">
                            <label>Business Registration Number <em class="required">*</em></label>
                            <input type="text" class="form-control" name="" id="" placeholder="enter the text">
                            <div class="feedback-error">Business Registration Number is a required field.</div>
                        </div>
                        <div class="form-group">
                            <label>Address <em class="required">*</em></label>
                            <input type="text" class="form-control" name="" id="" placeholder="enter the text">
                            <div class="feedback-error">Address is a required field.</div>
                        </div>
                        <div class="form-group">
                            <label>Company Number <em class="required">*</em></label>
                            <input type="text" class="form-control" name="" id="" placeholder="number input">
                            <div class="feedback-error">Company Number is a required field.</div>
                        </div>
                        <div class="form-group">
                            <label>Business license <em class="required">*</em></label>
                            <div class="input-group input-file">
                            	<input type="file"  id="files1">
                                <input type="text" class="form-control" readonly placeholder="Please Register the file.">
                                <div class="input-group-append">
                                    <label for="files1" class="btn btn-outline-secondary" type="button" id="button-addon2">attached file</label>
                                </div>
                            </div>
                            <div class="feedback-error">Business license  is a required field.</div>
                        </div>

                        <div class="mt-3"><button type="submit" class="btn_1 full-width">Create Account</button></div>

                        <ul class="mt-2">
                        	<li>Please enter your phone number, email, and name correctly. <br>It will be used when you lose your account.</li>
                        </ul>

                    </form>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
</main>
<!--/main-->
@@include('./include/footer.html')