@@include('./include/header.html')
<main>
    <section class="hero_in adventure_detail">
        <div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
            <div class="container">
                <div class="main_info">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="d-flex align-items-center justify-content-between mb-3"><em>3 Day Trip</em>
                                <div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div>
                            </div>
                            <h1>National Park Mountain Hike</h1>
                            <p>Mudgee, Australia</p>
                        </div>
                        <div class="col-lg-8">
                            <div class="pl-lg-4">
                                <h3>Hike among the gorgeous National Park Mountains and sleep at the top</h3>
                                <ul>
                                    <li><i class="pe-7s-clock"></i>Duration <span>3 days</span></li>
                                    <li><i class="pe-7s-graph3"></i>Activity level <span>Medium</span></li>
                                    <li><i class="pe-7s-shopbag"></i>Includes <span>Equipment, Drinks, Accommodations, Food</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /main_info -->
            </div>
        </div>
    </section>
    <!--/hero_in-->
    <div class="bg_color_1">
        <nav class="secondary_nav sticky_horizontal">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h6 class="m-0">From $200 per person</h6>
                    </div>
                    <div><a class="aside-panel-bt btn_1" href="#0">See dates</a></div>
                </div>
            </div>
        </nav>
        <div class="container margin_60_35 adventure_description">
            <div class="row mb-5">
                <div class="col-lg-4 fixed_title">
                    <h2>What you'll do</h2>
                </div>
                <div class="col-lg-8">
                    <div class="pl-lg-4">
                        <p class="lead">"Ad nam commune convenire, eu justo porro posidonium nec, mel natum patrioque at. Harum omittam persequeris cu vim, at justo nemore mei"</p>
                        <p>In ridens tamquam argumentum usu, ne ludus intellegebat vix. Eu inani omnes usu, an pri errem mucius qualisque. Eos posse augue fabellas te. Timeam dolores cu sed. His mollis quaestio scribentur te. Nam et purto integre temporibus.</p>
                        <p>Suas porro eam et, essent dicunt mollis eu ius, sea assum consectetuer ad. Eu albucius vivendum gloriatur vim, ei mei prima choro admodum, eu iudico aliquando cotidieque vim.</p>
                        <h6>Pictures from our users</h6>
                        <div class="pictures magnific-gallery clearfix">
                            <figure><a href="img/gallery/large/adventure_1.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/adventure_1.jpg" alt=""></a></figure>
                            <figure><a href="img/gallery/large/adventure_2.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/adventure_2.jpg" alt=""></a></figure>
                            <figure><a href="img/gallery/large/adventure_3.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/adventure_3.jpg" alt=""></a></figure>
                            <figure><a href="img/gallery/large/adventure_4.jpg" title="Photo title" data-effect="mfp-zoom-in"><img src="img/gallery/adventure_4.jpg" alt=""></a></figure>
                            <figure><a href="img/gallery/large/adventure_5.jpg" title="Photo title" data-effect="mfp-zoom-in"><span class="d-flex align-items-center justify-content-center">+10</span><img src="img/gallery/adventure_5.jpg" alt=""></a></figure>
                        </div>
                        <!-- /pictures -->
                    </div>
                </div>
            </div>
            <!-- /row -->
            <div class="row mb-5">
                <div class="col-lg-4 fixed_title">
                    <h2>What's included</h2>
                </div>
                <div class="col-lg-8">
                    <div class="pl-lg-4">
                        <ul class="list_feat clearfix">
                            <li>
                                <figure><img src="img/icon_included_1.svg" alt=""></figure>
                                <h4>Food</h4>
                                <p>1 breakfast, 1 dinner, snacks</p>
                            </li>
                            <li>
                                <figure><img src="img/icon_included_2.svg" alt=""></figure>
                                <h4>Drinks</h4>
                                <p>Water, Beer</p>
                            </li>
                            <li>
                                <figure><img src="img/icon_included_3.svg" alt=""></figure>
                                <h4>Equipment</h4>
                                <p>Sports equipment, other</p>
                            </li>
                            <li>
                                <figure><img src="img/icon_included_4.svg" alt=""></figure>
                                <h4>Accommodation</h4>
                                <p>Bed and breakfast</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <div class="row mb-5">
                <div class="col-lg-4 fixed_title">
                    <h2>Your itinerary</h2>
                </div>
                <div class="col-lg-8">
                    <div class="pl-lg-4">
                        <div class="timeline">
                            <div class="mb-5">
                                <h3>Day one - Trek to the National Park</h3>
                                <figure><img src="img/itinerary_1.jpg" class="img-fluid" alt=""></figure>
                                <p>Legimus voluptaria voluptatibus in sit. An simul nostrud mea, et mei stet partem moderatius, in sea porro equidem principes. Eu mei suas nullam facilis, id iusto mundi scripserit eum. Id per diam magna semper, an qui quidam principes.</p>
                                <div class="content_more">
                                    <p>Ad nam commune convenire, eu justo porro posidonium nec, mel natum patrioque at. Harum omittam persequeris cu vim, at justo nemore mei. Ut ridens malorum has. Agam everti alterum an cum, utinam perpetua maluisset eu vis. Id mutat omnes eos, porro euripidis ut sed.</p>
                                </div>
                                <!-- /content_more -->
                                <a href="#0" class="show_hide" data-content="toggle-text"><strong>Read More</strong></a>
                            </div>
                            <div class="mb-5">
                                <h3>Day two - Dinner and games with great views</h3>
                                <figure><img src="img/itinerary_2.jpg" class="img-fluid" alt=""></figure>
                                <p>Legimus voluptaria voluptatibus in sit. An simul nostrud mea, et mei stet partem moderatius, in sea porro equidem principes. Eu mei suas nullam facilis, id iusto mundi scripserit eum. Id per diam magna semper, an qui quidam principes.</p>
                                <div class="content_more">
                                    <p>Ad nam commune convenire, eu justo porro posidonium nec, mel natum patrioque at. Harum omittam persequeris cu vim, at justo nemore mei. Ut ridens malorum has. Agam everti alterum an cum, utinam perpetua maluisset eu vis. Id mutat omnes eos, porro euripidis ut sed.</p>
                                </div>
                                <!-- /content_more -->
                                <a href="#0" class="show_hide" data-content="toggle-text"><strong>Read More</strong></a>
                            </div>
                            <div>
                                <h3>Day three - Hiking down the mountain streams</h3>
                                <figure><img src="img/itinerary_3.jpg" class="img-fluid" alt=""></figure>
                                <p>Legimus voluptaria voluptatibus in sit. An simul nostrud mea, et mei stet partem moderatius, in sea porro equidem principes. Eu mei suas nullam facilis, id iusto mundi scripserit eum. Id per diam magna semper, an qui quidam principes.</p>
                                <div class="content_more">
                                    <p>Ad nam commune convenire, eu justo porro posidonium nec, mel natum patrioque at. Harum omittam persequeris cu vim, at justo nemore mei. Ut ridens malorum has. Agam everti alterum an cum, utinam perpetua maluisset eu vis. Id mutat omnes eos, porro euripidis ut sed.</p>
                                </div>
                                <!-- /content_more -->
                                <a href="#0" class="show_hide" data-content="toggle-text"><strong>Read More</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
            <h4>Location</h4>
            <div id="map" class="map map_single mb-5"></div>
            <!-- End Map -->
            <div class="row">
                <div class="col-lg-4 fixed_title">
                    <h2>Reviews</h2>
                </div>
                <div class="col-lg-8">
                    <div class="pl-lg-4">
                        <div class="reviews-container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div id="review_summary">
                                        <strong>8.5</strong>
                                        <em>Superb</em>
                                        <small>Based on 4 reviews</small>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-3"><small><strong>5 stars</strong></small></div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-3"><small><strong>4 stars</strong></small></div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-3"><small><strong>3 stars</strong></small></div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-3"><small><strong>2 stars</strong></small></div>
                                    </div>
                                    <!-- /row -->
                                    <div class="row">
                                        <div class="col-lg-10 col-9">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-3"><small><strong>1 stars</strong></small></div>
                                    </div>
                                    <!-- /row -->
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <hr>
                        <div class="reviews-container">
                            <div class="review-box clearfix">
                                <figure class="rev-thumb"><img src="img/avatar1.jpg" alt="">
                                </figure>
                                <div class="rev-content">
                                    <div class="rating">
                                        <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                                    </div>
                                    <div class="rev-info">
                                        Admin – April 03, 2016:
                                    </div>
                                    <div class="rev-text">
                                        <p>
                                            Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /review-box -->
                            <div class="review-box clearfix">
                                <figure class="rev-thumb"><img src="img/avatar2.jpg" alt="">
                                </figure>
                                <div class="rev-content">
                                    <div class="rating">
                                        <i class="icon-star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                                    </div>
                                    <div class="rev-info">
                                        Ahsan – April 01, 2016:
                                    </div>
                                    <div class="rev-text">
                                        <p>
                                            Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /review-box -->
                            <div class="review-box clearfix">
                                <figure class="rev-thumb"><img src="img/avatar3.jpg" alt="">
                                </figure>
                                <div class="rev-content">
                                    <div class="rating">
                                        <i class="icon-star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                                    </div>
                                    <div class="rev-info">
                                        Sara – March 31, 2016:
                                    </div>
                                    <div class="rev-text">
                                        <p>
                                            Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /review-box -->
                        </div>
                        <!-- /review-container -->
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
</main>
<footer>
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-lg-5 col-md-12 p-r-5">
                <p><img src="coint_img/logo.png" width="150" height="36" alt=""></p>
                <p>NONITOUR DESCRIPTION</p>
            </div>
            <div class="col-lg-3 col-md-6 ml-lg-auto">
                <h5>Useful links</h5>
                <ul class="links">
                    <li><a href="#">About ready go trip</a></li>
                    <li><a href="#">Activity</a></li>
                    <li><a href="#">Tour Contents</a></li>
                    <li><a href="#">Tour Package</a></li>
                    <li><a href="#">Customer Service</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Contact with Us</h5>
                <ul class="contacts">
                    <li><a href="tel://61280932400"><i class="ti-mobile"></i> + 82 02 9999 9999</a></li>
                    <li><a href="mailto:info@Panagea.com"><i class="ti-email"></i> info@noni.com</a></li>
                </ul>
            </div>
        </div>
        <!--/row-->
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <ul id="additional_links">
                    <li><a href="#0">Terms and conditions</a></li>
                    <li><a href="#0">Privacy</a></li>
                    <li><a href="#0">Third Party Consent</a></li>
                    <li><span>© 2015 Noni tour</span></li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="additional_links">
                    <li><a href="#0">1:1 Question</a></li>
                    <li><a href="#0">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->
</div>
<!-- page -->
<div id="toTop"></div><!-- Back to top button -->
<!-- COMMON SCRIPTS -->
<script src="js/common_scripts.js"></script>
<script src="js/main.js"></script>
<script src="assets/validate.js"></script>
<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/map_single_tour.js"></script>
<script src="js/infobox.js"></script>
<!-- DATEPICKER  -->
<script>
$(function() {
    $('input[name="dates"]').daterangepicker({
        autoUpdateInput: false,
        parentEl: '.scroll-fix',
        minDate: new Date(),
        opens: 'left',
        locale: {
            cancelLabel: 'Clear'
        }
    });
    $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
    });
    $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
});
</script>
<!-- INPUT QUANTITY  -->
<script src="js/input_qty.js"></script>
</body>

</html>